option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fyp/wsgi.py

container_commands:
  01_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
    leader_only: true